<ion-view view-title="Rutas">
    <ion-content class="padding">
        <div class="row" data-tap-disabled="true">
            <div class="col-90 rmw-map-container-rutas">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>
        <div class="row">
            <div class="col-90">
                <button class="button button-block button-dark">Iniciar cliente</button>
            </div>
        </div>
    </ion-content>
</ion-view>