<ion-view view-title="Nuevo Pedido">
    <ion-content>
        <form ng-submit="tomarPedido()">
            <div class="list card">
                <div class="item item-divider">
                    <a class="text-right">Comercio</a>
                </div>
                <a class="item">
                    <select class="rmw-input-select"
                            ng-options="com as com.nombre for com in listaComercios track by com.id" ng-model="comercio"
                            ng-change="updateComercio(comercio)">

                    </select>
                </a>

                <div class="item item-divider">
                    <a class="text-right">Productos</a>
                </div>
                <a class="item" ng-repeat="producto in listaProductos track by producto.id">
                    <label class="item item-avatar">
                        <img src="img/404Prod.jpg" alt=""/>

                        <h2 class="positive">{{producto.nombre}}</h2>

                        <div class="item item-input-inset" style="border: none;">
                            <label class="input-label"><b>Cantidad</b></label>
                            <label class="item-input-wrapper">
                                <input type="number" min="0" placeholder="0" class="pull-right"
                                       ng-model="producto.cantidad">
                            </label>
                        </div>
                    </label>
                </a>

                <div class="text-center">
                    <button type="submit" class="button button-dark button-large">Tomar Pedido</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>