

.rmw-input-select {
    width:70%;
    font-size:1rem;
    text-indent:20px;
    padding:.5rem 0;
}

.rmw-footer-large {
    height: 10%;
}

.rmw-logo {
    margin-top: 7%;
    margin-bottom:7%;
}
.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.rmw-map-container {
    display: table;
    height: 10em;
    position: relative;
}

.rmw-map-container-rutas {
    height: 90vh;
    position: relative;
}