.rmw-footer-large {
    height: 10%;
}

.rmw-logo {
    margin-top: 7%;
    margin-bottom:7%;
}
.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.rmw-map-container {
    display: table;
    height: 10em;
    position: relative;
}

.rmw-map-container-rutas {
    height: 16em;
    position: relative;
}